body {
    background-image: url(./images/starfield-banner.jpg);
}

.allmask {
    width: 100%;
    bottom: 0px;
    background-color: rgb(223, 208, 208);
    opacity: 0.9;
}

.description-all {
    padding-left: 10px;
    padding-bottom: 10px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: white;
}

.header-box {
    height: 152px;
    width: auto;
    display: flex;
}

.earth {
    width: 260px;
    height: 152px;
}

.logo {
    height: 90px;
    padding: 30px 30px 0px 60px;
}

.search {
    width: 250px;
    height: 152px;
    position: relative;
}

.search input {
    background-color: rgb(71, 71, 71);
    border: none;
    width: 190px;
    height: 30px;
    margin-top: 20px;
    color: white;
}

.search:before {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    background-image: url(./images/search.png);
    background-size: 100% 100%;
    left: 150px;
    top: 24px;
}

.search:after {
    position: absolute;
    content: "";
    width: 21px;
    height: 21px;
    background-image: url(./images/share.png);
    background-size: 100% 100%;
    left: 200px;
    top: 24px;
}

.link {
    text-decoration: none;
    color: white;
}

.menu {
    height: 152px;
    width: 1000px;
}

.menu-top {
    height: 80px;
    width: 860px;
    padding-top: 10px;
    padding-left: 140px;
    color: #eaecef;
}

.menutop-table {
    border-spacing: 10px;
    font-size: 20px;
    text-align: center;
    line-height: 220%;
}

.menutop-table td {
    border-right: 1px solid #eaecef;
    padding-right: 10px;
}

.menutop-table td:last-child {
    border-right: none;
}

.menu-down {
    background-color: rgb(85, 85, 85);
    width: 1000px;
    height: 50px;
    color: white;
}

.menudown-table {
    border-spacing: 15px;
    font-size: small;
    line-height: 220%;
}

.menudown-table td {
    border-right: 1px solid #eaecef;
    padding-right: 15px;
}

.menudown-table td:last-child {
    border-right: none;
}

.photolist {
    width: 1470px;
    height: 640px;
    display: flex;
    margin-left: 40px;
}

.dawn {
    position: relative;
    width: 750px;
    height: 640px;
    background-image: url(./images/pia21924-16.jpg);
}

.dawn-mask {
    position: absolute;
    height: 40px;
    padding-bottom: 5px;
}

.description {
    padding-left: 15px;
}

.description:before {
    position: absolute;
    content: "Dawn";
    width: 65px;
    height: 30px;
    background-color: rgb(88, 112, 157);
    color: white;
    padding-left: 10px;
    padding-top: 5px;
    top: -35px;
    left: 0px;
}

.photolist-right {
    width: 713px;
    height: 640px;
    padding-left: 15px;
    padding-right: 40px;
}

.right-top {
    width: 713px;
    height: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.climate {
    position: relative;
    width: 350px;
    height: 320px;
    background-image: url(./images/mollweide_cycle.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.climate-mask {
    position: absolute;
    height: 45px;
}

.climate-events {
    width: 350px;
    height: 320px;
    background-color: rgb(69, 112, 154);
    position: relative;
}

.description2 {
    margin: 2px 5px 5px 5px;
    font-weight: 600;
}

.description2:before {
    position: absolute;
    content: "Climate";
    width: 65px;
    height: 30px;
    background-color: rgb(88, 112, 157);
    color: white;
    top: -30px;
}

.climate-events .nasa-events {
    margin-left: 15px;
    margin-bottom: 5px;
    color: white;
}

.climate-events hr {
    width: 320px;
}

.climate-events .nasa-des {
    font-size: 13px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.nasa-events-down {
    position: absolute;
    bottom: 0px;
    width: 350px;
    height: 23px;
    padding-left: 10px;
}

.nasa-events-down hr {
    margin: 0;
}

.nasa-events-down table {
    width: 350px;
    font-size: 13px;
    color: white;
}

.right-down {
    width: 713px;
    height: 305px;
    background-image: url(./images/s69-39961.jpg);
    margin-top: 15px;
    position: relative;
}

.right-down-mask {
    position: absolute;
    height: 45px;
}

.event-news {
    height: 305px;
    width: 1435px;
    margin: 15px 40px 15px 40px;
    display: flex;
    justify-content: space-between;
}

.merger {
    position: relative;
    width: 310px;
    height: 305px;
    background-image: url(./images/ssc2017-14a1.jpg);
    background-repeat: no-repeat;
    background-position-x: -120px;
}

.merger-mask {
    position: absolute;
    height: 45px;
}

.merger-mask:before {
    position: absolute;
    top: -10px;
    content: "Image of the Day";
    width: 145px;
    height: 30px;
    background-color: rgb(88, 112, 157);
    color: white;
    padding-left: 10px;
    padding-top: 5px;
    top: -35px;
    left: 0px;
}

.merger-camera {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -250px;
    left: 280px;
    z-index: 9;
}

.asteroids {
    position: relative;
    width: 710px;
    height: 305px;
    background-image: url(./images/pia22556-16.gif);
}

.asteroids-mask {
    position: absolute;
    height: 45px;
}

.asteroids-mask:before {
    position: absolute;
    content: "Asteroids";
    width: 90px;
    height: 30px;
    padding-left: 10px;
    padding-top: 5px;
    background-color: rgb(88, 112, 157);
    color: white;
    top: -35px;
}

.starvideo {
    width: 375px;
    height: 305px;
}

.pic-all {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bottom-box {
    height: 305px;
    width: 1435px;
    margin: 0px 40px 35px 40px;
    display: flex;
    justify-content: space-between;
}

.about-nasa {
    position: relative;
    height: 305px;
    width: 308px;
    background-image: url(./images/nasa_logo.png);
    background-color: rgb(34, 34, 34);
}

.about-nasa-mask {
    position: absolute;
    height: 60px;
}

.about-nasa-mask:before {
    position: absolute;
    content: "About NASA";
    width: 110px;
    height: 30px;
    background-color: rgb(88, 112, 157);
    color: white;
    padding-left: 10px;
    padding-top: 5px;
    top: -35px;
    left: 0px;
}

.juno {
    position: relative;
    width: 345px;
    height: 305px;
    background-image: url(./images/io-home.gif);
}

.juno-mask {
    position: absolute;
    height: 60px;
}

.juno-mask:before {
    position: absolute;
    content: "Juno";
    width: 50px;
    height: 30px;
    background-color: rgb(88, 112, 157);
    color: white;
    padding-left: 10px;
    padding-top: 5px;
    top: -35px;
    left: 0px;
}

.juno-camera {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -230px;
    left: 310px;
    z-index: 9;
}

.cassini {
    position: relative;
    width: 345px;
    height: 305px;
    background-image: url(./images/cassini20170809.jpg);
}

.cassini-mask {
    position: absolute;
    height: 60px;
}

.cassini-mask:before {
    position: absolute;
    content: "Cassini";
    width: 70px;
    height: 30px;
    background-color: rgb(88, 112, 157);
    color: white;
    padding-left: 10px;
    padding-top: 5px;
    top: -35px;
    left: 0px;
}

.space {
    position: relative;
    width: 375px;
    height: 305px;
    background-image: url(./images/fermiicecube_as.jpg);
}

.space-mask {
    position: absolute;
    height: 60px;
}

.space-mask:before {
    position: absolute;
    content: "Ferml Space Telescope";
    width: 190px;
    height: 30px;
    background-color: rgb(88, 112, 157);
    color: white;
    padding-left: 10px;
    padding-top: 5px;
    top: -35px;
    left: 0px;
}

.more-btn {
    width: 1435px;
    height: 40px;
    margin: 0px 40px 40px 40px;
    background-color: rgb(29, 66, 136);
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
}

.corner {
    width: 1435px;
    height: 60px;
    margin: 0px 40px 0px 40px;
    display: flex;
}

.corner-logo {
    width: 60px;
    height: 60px;
    background-image: url(./images/nasa_logo.png);
    background-size: 100% 100%;
}

.corner-des {
    width: 400px;
    height: 50px;
    padding-left: 15px;
}

.corner-des p {
    margin: 0;
    color: white;
    font-size: 13px;
}

.corner-list {
    position: relative;
    width: 1500px;
    height: 80px;
}

.corner-list table {
    position: absolute;
    width: 1000px;
    right: 0;
    margin: 0px 10px 0px 0px;
    font-size: 13px;
}

.corner-list table a {
    color: rgb(99, 123, 168);
    font-weight: 600;
}